<body class="backgroundImg">
  <main class="container-fluid">
    <div class="row mb-2 d-flex justify-content-center">
      <div class="col-10 col-md-10 col-lg-6 bg-light border border-5 m-5">
        <h1 id="timer">Prepare Yourself ...</h1>
      </div>
    </div> 
    <div class="row mb-2 d-flex justify-content-center" id="primaryRow">
      <div class="col-10 col-md-10 col-lg-5 bg-light border border-5 m-5">
        <div class="begin">  
          <h1>LIVING QUARTERS</h1>
          <p>
            You wake up on the floor of your living quarters, alarm sirens blaring. Stumbling up to your feet you see the tablet on your desk, informing you that one of the test vials in the science bay has become compromised. You can’t recall where you were before you ended up here, but that appears to be the least of your problems. You’re going to need to make it to that lab to repair the test vial, but according to the readouts you’re seeing the air contamination will render you unconscious within 5 minutes of you leaving the safety of your quarters. Now, time to go repair that vial!</br> You set a 5:00 timer on your watch, press the biometric reader on the side of your door and head out into the hallway.
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-between">
              <button class="bg-dark text-success rounded" id="beginLone">Exit Living Quarters</button>
              <button class="bg-dark text-success rounded" id="beginRone">Exit Living Quarters, but with swagger</button>
            </div>  
          </div>
        </div>
        <div class="atrium1 hide">  
          <h1>ATRIUM</h1>
          <p>
            The normally peaceful hallways are chaotic with flashing lights and sirens from all directions—it does seem like a bit much for a non-lethal issue. Still, you’re not looking forward to being rendered unconscious again, so you’re keen on getting back to the Science Bay as quickly as possible. Unfortunately, you’re still feeling a bit groggy, and you’re having a bit of trouble remembering the ship’s layout …              
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-between">
              <button class="bg-dark text-success rounded" id="atriumLone">Head toward Engineering</button>
              <button class="bg-dark text-success rounded" id="atriumRone">Head toward Kitchen</button>
            </div>  
          </div>
        </div>
        <div class="engineering1 hide">  
          <h1>ENGINEERING</h1>
          <p>
            The following message appears on the panel beside the door: “Access to this area is denied until alarms have been manually acknowledged.”
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-center">
              <button class="bg-dark text-success rounded mb-auto" id="engineeringLone">Return to the Atrium</button>
            </div>  
          </div>
        </div>
        <div class="kitchen1 hide">  
          <h1>KITCHEN</h1>
          <p>
            In the kitchen, you see the mess you must have left behind in a bout of sleep-walking the night before. You’ll have to clean this up, but there’s a bigger mess to deal with at the moment …         
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-between">
              <button class="bg-dark text-success rounded" id="kitchenLone">Return to the Atrium</button>
              <button class="bg-dark text-success rounded" id="kitchenRone">Head toward the Command Center</button>
            </div>  
          </div>
        </div>
        <div class="command1 hide">  
          <h1>COMMAND CENTER</h1>
          <p id="acknowledgementEl">
            The control terminals, usually a calming shade of green, are currently neon red. Awash in flashing lights, you make your way over to the panel marked “ACKNOWLEDGE: CONTAMINATION ALERT IN SCIENCE BAY.” 
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-between">
              <button class="bg-dark text-success rounded commandShown" id="acknowledgeLone">SMASH THAT ACKNOWLEDGE BUTTON</button>
              <button class="bg-dark text-success rounded hide commandHiddenOne" id="commandLone">Head toward Botany Lab</button>
              <button class="bg-dark text-success rounded hide commandHiddenTwo" id="commandRone">Head toward Kitchen</button>
            </div>  
          </div>
        </div>
        <div class="botany2 hide">  
          <h1>BOTANY LAB</h1>
          <p>
            The welcome petrichor scent of the botany lab helps to calm your senses. That is, until you remember that the air you’re breathing is still contaminated. Maybe it wasn’t worth it to stop and smell the roses …
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-center">
              <button class="bg-dark text-success rounded" id="botanyLtwo">Head back to Command Center</button>
            </div>  
          </div>
        </div>
        <div class="command2 hide">  
          <h1>COMMAND CENTER</h1>
          <p>
            The flashing lights have returned to normal, but the glow from the terminals still floods the room with a red glow.
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-between">
              <button class="bg-dark text-success rounded" id="commandLtwo">Head back to Botany Lab</button>
              <button class="bg-dark text-success rounded" id="commandRtwo">Head toward Kitchen</button>
            </div>  
          </div>
        </div>
        <div class="kitchen2 hide">  
          <h1>KITCHEN</h1>
          <p>
            In the kitchen, you see the mess you must have left behind in a bout of sleep-walking the night before. You’ll have to clean this up, but there’s a bigger mess to deal with at the moment …         
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-between">
              <button class="bg-dark text-success rounded" id="kitchenLtwo">Head toward the Atrium</button>
              <button class="bg-dark text-success rounded" id="kitchenRtwo">Head back to the Command Center</button>
            </div>  
          </div>
        </div>
        <div class="atrium2 hide">  
          <h1>ATRIUM</h1>
          <p>
            You never notice just how messy this place is until an emergency arises. Your belongings are strewn about, and you pause to reflect on how, even living in isolation, you’re a pretty messy person …
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-between">
              <button class="bg-dark text-success rounded" id="atriumLtwo">Head toward the Kitchen</button>
              <button class="bg-dark text-success rounded" id="atriumRtwo">Head toward Engineering</button>
            </div>  
          </div>
        </div>
        <div class="engineering2 hide">  
          <h1>ENGINEERING</h1>
          <p>
            The panel accepts your handprint, and as you walk in you see the door to the Science Bay. You stride toward it confidently, and reach into your left pocket for your ID badge. Then you reach into your right pocket. Then your left pocket again. You look above the door to the handmade sign you put up your first week here: “No shirt, no shoes, no id badge … no entry.” 
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-center">
              <button class="bg-dark text-success rounded" id="engineeringLtwo">Hang your head in shame, then head back toward the Atrium</button>
            </div>  
          </div>
        </div>
        <div class="atrium3 hide">  
          <h1>ATRIUM</h1>
          <p id="atriumSearch"  >
            Right about now you're wishing you had been just a liiitle bit tidier in your time here ...
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-between">
              <button class="bg-dark text-success rounded" id="atriumLthree">Search the Atrium for your ID badge</button>
              <button class="bg-dark text-success rounded" id="atriumRthree">Head toward the Kitchen</button>
            </div>  
          </div>
        </div>
        <div class="kitchen3 hide">  
          <h1>KITCHEN</h1>
          <p id="kitchenSearch">
            Oof, this place is a wreck, there is food everywhere ...
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-between">
              <button class="bg-dark text-success rounded" id="kitchenLthree">Search the Kitchen for your ID badge</button>
              <button class="bg-dark text-success rounded" id="kitchenRthree">Head toward the Command Center</button>
            </div>  
          </div>
        </div>
        <div class="command3 hide">  
          <h1>COMMAND CENTER</h1>
          <p id="commandSearch">
            The flashing lights have returned to normal, but the glow from the terminals still flood the room with a red glow.
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-between">
              <button class="bg-dark text-success rounded" id="commandLthree">Search the Command Center for your ID badge</button>
              <button class="bg-dark text-success rounded" id="commandRthree">Head toward the Botany Lab</button>
            </div>  
          </div>
        </div>
        <div class="botany3 hide">  
          <h1>BOTANY LAB</h1>
          <p id="botanySearch">
            The welcome petrichor scent of the botany lab helps to calm your senses. That is, until you remember that the air you’re breathing is still contaminated. Maybe it wasn’t worth it to stop and smell the roses …
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-center">
              <button class="bg-dark text-success rounded botanyHiddenOne" id="botanyLthree">Welp, nowhere else it could be ... search the Botany Lab for your ID badge</button>
              <button class="bg-dark text-success rounded botanyHiddenTwo hide" id="botanyRthree">Head toward the Command Center</button>
            </div>  
          </div>
        </div>
        <div class="command4 hide">  
          <h1>COMMAND CENTER</h1>
          <p>
            No time to look around now, you're on a mission!
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-center">
              <button class="bg-dark text-success rounded" id="commandLfour">You gotta get to Engineering! Back to the Kitchen!</button>
            </div>  
          </div>
        </div>
        <div class="kitchen4 hide">  
          <h1>KITCHEN</h1>
          <p>
            Maybe time for a snack? No, no, gotta get back to Engineering!.
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-center">
              <button class="bg-dark text-success rounded" id="kitchenLfour">Onward! To the Atrium!</button>
            </div>  
          </div>
        </div>
        <div class="atrium4 hide">  
          <h1>ATRIUM</h1>
          <p>
            Ugh, feeling kinda tired, and that couch is looking mighty tempting ... stay strong!
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-center">
              <button class="bg-dark text-success rounded" id="atriumLfour">To Engineering! Go, go, go!</button>
            </div>  
          </div>
        </div>
        <div class="engineering4 hide">  
          <h1>ENGINEERING</h1>
          <p>
            With your trusty ID badge in hand you—again—stride confidently toward the door. This time, however, you successfully swipe your badge, and are finally able to head into the Science Bay. 
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-center">
              <button class="bg-dark text-success rounded" id="engineeringLfour">Finally, to the Science Bay!</button>
            </div>  
          </div>
        </div>
        <div class="science4 hide">  
          <h1>SCIENCE BAY</h1>
          <p>
            As you peruse the vials, you hold your breath while trying to determine which has been compromised. Then you see it—the vial in the third column, second row, appears to have a slight crack in it. You can see that the structure it is settled in has shifted slightly, and you realize this is all your fault! You’ve clearly set up the tables incorrectly, and the stress has cause a vial to crack under the pressure. You should’ve listened more clearly to your mentor Dr. Jung, he always taught you the importance of setting up your tables properly.
            You’re going to need to find something to patch up this crack, and quickly!
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-center">
              <button class="bg-dark text-success rounded" id="scienceLfour">Once again, to Engineering!</button>
            </div>  
          </div>
        </div>
        <div class="engineering5 hide">  
          <h1>ENGINEERING</h1>
          <p id="engineeringSearchTwo">
            You realize just how many buttons and panels there are in this room! You still haven’t memorized what each one of them does, but thankfully Dr. Jung left you comprehensive manuals to refer back to.
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-between">
              <button class="bg-dark text-success rounded" id="engineeringLfive">Look through the manuals</button>
              <button class="bg-dark text-success rounded" id="engineeringRfive">Head toward the Atrium</button>
            </div>  
          </div>
        </div>
        <div class="atrium5 hide">  
          <h1>ATRIUM</h1>
          <p id="atriumSearchTwo">
            You're fairly certain at a glance that there's nothing helpful in this mess ... but then again, you're getting kinda woozy ...
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-between">
              <button class="bg-dark text-success rounded" id="atriumLfive">Scour the Atrium</button>
              <button class="bg-dark text-success rounded" id="atriumRfive">Head toward the Kitchen</button>
            </div>  
          </div>
        </div>
        <div class="kitchen5 hide">  
          <h1>KITCHEN</h1>
          <p id="kitchenSearchTwo">
            Finally taking in your surroundings in the kitchen, it would appear that—in addition to the sleep-walking (a common happening among solo scientists on research vessels)—you've taken up sleep-eating ...
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-between">
              <button class="bg-dark text-success rounded kitchenHiddenOne" id="kitchenLfive">Search the kitchen like your consciousness depends on it!</button>
              <button class="bg-dark text-success rounded kitchenHiddenTwo hide" id="kitchenRfive">Make your way back to the Atrium</button>
              <button class="bg-dark text-success rounded kitchenHiddenThree hide" id="kitchenSnack">Maybe just a quick snack ...</button>
            </div>  
          </div>
        </div>
        <div class="atrium6 hide">  
          <h1>ATRIUM</h1>
          <p>
            You begin to wonder if the atrium has gotten ... blurrier ... since you last saw it ...
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-center">
              <button class="bg-dark text-success rounded" id="atriumLsix">Almost there ... head toward Engineering</button>
            </div>  
          </div>
        </div>
        <div class="engineering6 hide">  
          <h1>ENGINEERING</h1>
          <p id="engineeringDoors">
            You could have sworn there was only one door into the Science Bay, but now you're seeing two ...
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-between">
              <button class="bg-dark text-success rounded engineeringWall" id="engineeringLsix">Choose the door on your left ...</button>
              <button class="bg-dark text-success rounded" id="engineeringRsix">Choose the door on your right ...</button>
            </div>  
          </div>
        </div>
        <div class="finale hide">  
          <h1>SCIENCE BAY</h1>
          <p>
            You hurriedly rush over to the vials and slather the freeze-dried-jelly-turned-glue over the crack in the compromised vial. Immediately, a congratulatory chime rings out across the intercom system. You’ve done it! 
            You glance down at your watch, impressed with how quickly you were able to resolve the issue. You’ve definitely earned yourself some extra break time today to play your favorite video game: New World.</br>
            CONGRATULATIONS!
          </p>
          <div class="row mb-2 d-flex justify-content-center">
            <div class="col-12 mx-5 d-flex justify-content-between">
              <button class="bg-dark text-success rounded" id="play-again">You've made it! Immortalize your name in the great list of those who have succeeded!</button>
            </div>  
          </div>
        </div>
      </div>
    <div class="col-10 col-md-10 col-lg-5 m-5" style="height: 375px; width: 375px;">
      <img id="spaceShipImg" src="images/title-page.png" width="375px" height="375px">
    </div>
  </div>
  </main>
  <script src="js/game.js"></script>
</body>
