<div class="card">
  <div class="card-header">
    Login
  </div>
  <div class="card-body">
    <h5 class="card-title">Login or Sign Up Below</h5>
    <form>
  <div class="mb-3">
    <label for="inputEmail" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text">Include your email if you are signing up for the first time.</div>
  </div>
    <div class="mb-3">
    <label for="inputUsername" class="form-label">Username</label>
    <input type="username" class="form-control" id="inputUsername">
  </div>
  <div class="mb-3">
    <label for="inputPassword" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword">
  </div>
  <div>
  <button type="submit" class="btn btn-primary" id="loginBtn">Login</button>
  <button type="submit" class="btn btn-primary" id="signUpBtn">Signup</button>
  </div>
</form>
  </div>
</div>