.hide {
  display: none;
}

.backgroundImg {
  background-image: url(../images/background.png);
}

p {
  font-size: large;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: small;
  }
}
