.hide {
  display: none;
}

.backgroundImg {
  margin: 0;
  background-image: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed ;
}

p {
  font-size: large;
}

@media only screen and (max-width: 600px) {
  p {
    font-size: small;
  }
}
